<div class="text-right">
    <button type="button" class="large-padding pointer no-background light-text" (click)="toggleForm()">
        {{label()}}
        <i class="fa {{icon()}}"></i>
    </button>
</div>
<div class="lateral-padding overflow-hidden" [@openClose]="formState">
    <input type="text" placeholder="¿Qué vas a hacer?" class="form-control" required min="3" [(ngModel)]="todo.content">
    <textarea placeholder="Información adicional (opcional)" class="form-control" [(ngModel)]="todo.description"></textarea>
    <div class="date-time-picker">
        <input type="text" placeholder="Fecha limite (opcional)"
            [(ngModel)]="todo.deadline"
            [owlDateTime]="dt" [owlDateTimeTrigger]="dt" class="form-control">
        <owl-date-time #dt ></owl-date-time>
    </div>
    <div class="top-space">
        <button type="button" class="btn blue light-text full-width" (click)="save()">
            <i class="fa fa-save"></i>
            Guardar
        </button>
    </div>
</div>