<div class="large-padding">
    <input type="text" [(ngModel)]="list.title" placeholder="Nombre de la lista" class="form-control">

    <div class="top-space">
        <button type="button" class="btn blue light-text full-width" (click)="save()">
            <i class="fa fa-save"></i>
            Guardar
        </button>
    </div>
</div>

