/* red: #FF5349
blue: #4F80E1
green: #18CDCA
grey: #F0F0f1
purple: #292C44
black: #302D33 */

body {
    /* background-image: linear-gradient( 135deg, #292C44 10%, #3813C2 100%); */
    background-color: #292C44;
    color: #F0F0f1;
    height: 100vh;
}
.blue {
    background-color: #4F80E1;
}

.light-text {
    color: #F0F0f1;
}

.card{
    background-color: white;
    color: #302D33 ;
}

.card.with-bagde .badge span {
    background-color: #FF5349;
    color: #F0F0f1;
}