
<article class="card large-padding top-space block lateral-padding todo-card" 
    (mousedown)="press = 'down'"
    (mouseup)="press = 'up'"
    (press)="press = 'down'"
    (pressup)="press = 'up'"
    [@pressAnimation]="press" 
    [@statusAnimation]="todo.status"
    (swipeLeft)="completed()">
    <h4>{{todo.content}}</h4>
    <p *ngIf="todo.deadline">
        <i class="fa fa-calendar"></i>
        {{moment(todo.deadline).fromNow()}}
    </p>
    <p *ngIf="todo.description">{{todo.description}}</p>
</article>