
<todo-creator [id]="listId">
</todo-creator>
<div [@enterState]="(todos | async)?.length">
    <todo-card *ngFor="let todo of todos | async; trackTodoObjects" [todo]="todo" [listId]="listId">
    </todo-card>
</div>



