/* You can add global styles to this file, and also import other style files */
@import './styles/defaults.css';
@import './styles/colors.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~ng-pick-datetime/assets/style/picker.min.css';
body{
    font-family: 'Lato'
}
.no-background{
    background: transparent;
}
.overflow-hidden{
    overflow: hidden;
}
button.no-background{
    font-size: 1em;
    outline: 0;
    border: 0;
}

.lateral-padding{
    padding: 0 8px;
}
.text-right{
    text-align: right;
}
.pointer{
    cursor: pointer;
}
.card {
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    position: relative;

    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0px);
}
.card:hover {
    box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px);
}
.card.with-bagde{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "title title title title title title title title badge badge";
    align-items: center;

}
.card.with-bagde h4{
    grid-area: title;
    
}
.card.with-bagde .badge{
    grid-area: badge;
    display: flex;
    justify-content: flex-end;
}
.card.with-bagde .badge span{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-card {
    position: relative;
}
.todo-card::after{
    position: absolute;
    z-index: -1;
    content: '\f00c';
    font-family: FontAwesome;
    top:50%;
    right: -2em;
    font-weight: bold;
    color: #18CDCA;
}
.large-padding{
    padding: 10px 15px;
}

.main-nav a{
    text-decoration: none;
}
.small-font{
    font-size: 0.8rem;
    font-family: 'Lato'
}
.full-width{
    width: 100%;
}
.top-space{
    margin-top: 1em;
}
.form-control{
    width: 100%;
    outline: 0;
    border: 0;
    display: block;
    padding: 10px 15px;
    margin-top: 1em;
    font-size: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 2px;
}
.btn{
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 1em 1.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 1em;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
}
.main-nav .float-right a{
    margin-left: 1em;
}

.float-right{
    float: right;
}