

<div class="large-padding" [@enterState]="(listS.lists | async)?.length">
    <div  *ngFor="let list of listS.lists | async" >
        <a routerLink="lists/{{list.id}}" >
            <article class="card block large-padding top-space with-bagde">
                
                <h4>{{list.title}}</h4>
                <div class="badge">
                    <span>0</span>
                </div>
            </article>
        </a>
    </div>
</div>
