<nav class="main-nav blue large-padding light-text">
    <a routerLink="/">
        <span class="nav-title">What to do</span>
    </a>
    <div class="float-right" *ngIf="afAuth.authState | async">
        <a routerLink="/">
            <i class="fa fa-list">
                <span class="small-font">Mis listas</span>
            </i>
        </a>
        <a routeLink="#" (click)="logout()">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</nav>
<router-outlet></router-outlet>